@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom placeholder styles */
.placeholder-light::placeholder {
  color: #2a2d49; 
  opacity: 0.7;
}

.placeholder-dark::placeholder {
  color: #F98D4E; 
  opacity: 0.7;
}